<VirtualHost *:80>
	ServerAdmin contact@domaine.tld
	#ServerName utilisateur.domaine.tld

	DocumentRoot /home/utilisateur/public_html

	SuExecUserGroup utilisateur utilisateur

	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /home/utilisateur/public_html/>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
	<Directory "/usr/lib/cgi-bin">
		AllowOverride None
		Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
		Order allow,deny
		Allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/utilisateur/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/utilisateur/access.log combined
</VirtualHost>